@charset "utf-8";
/* CSS Document */

.intropage
{
    width: 100%;
    height: 90vh;
    background-color: rgba(0,0,0,1.00);
    align-items: center;
}
html, body { height: 100%; }

body {
  margin: 0 auto;
  overflow-x: hidden;
   
}

.slide {
  width: 100%;
  height: 100%;
  background: white no-repeat center center fixed;
  background-size: auto;
  text-align: center;
  cursor: pointer;;
  color: rgba(171,171,171,1.00);
    margin: 0 auto;
  
}

.slide__label {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 32px;
  font-family: "Helvetica", "Arial", sans;
  font-weight: 900;
  font-size: 64px;
  
}

.slide:nth-of-type(1) {
  background-image: url("../images/03.png");
  background-size: auto ; 
}

.slide:nth-of-type(2) {
  background-image: url("../images/04.png");
  background-size: auto ;  
}

.slide:nth-of-type(3) {
  background-image: url("../images/05.png");
  background-size: auto ;  
}

.slide:nth-of-type(4) {
  background-image: url("../images/06.png");
  background-size: auto ;  
}

.noidung02
{
    width: 30%;
    height: 30%;
    position: fixed;
    z-index: 100;
    color: rgba(102,102,102,1.00);
    font-family: tieude1; 
    box-sizing: border-box;
    top: 55%;
    left: 8%;
    font-size: 14pt;
    line-height: 45px;
    
}
@font-face
{
    src: url("../font/OpenSans-Light.ttf");
    font-family: noidung;      
}
@font-face
{
   src: url("../font/OpenSans-BoldItalic.ttf");
    font-family: tieude1;      
}
@font-face
{
    src: url("../font/OpenSans-Regular.ttf");
    font-family: menufont;      
}
.button
{
    width: 170px;
    height: 50px;
    position: absolute;
    z-index: 100;
    font-family: menufont; 
    box-sizing: border-box;
    top: 50%;
    left: 33%;
    font-size: 14pt;
    line-height: 30px;
    border: solid 1px;
    border-color: aliceblue;
    border-radius: 20px;
    padding: 9px 40px;
    background-color: rgba(55,55,55,1.00);
    
}
.button a
{
    text-decoration: none;
    color: rgba(221,221,221,1.00);
}
.button:hover a
{
    color: rgba(249,249,249,1.00);
}
.button:hover
{
    background-color: rgba(0,0,0,1.00);
}
.header-ngang
{
    width: 100%;
    height: 10%;
    background: rgba(62,62,62,1.00);
    position: fixed;
    z-index: 100000;
    
}
.header-ngang0
{
    width: 40%;
    height: 100%;
   
    margin: 0 auto;
}
.header-ngang1
{
    width: 40%;
    height: 100%;
    
    padding-top: 3%;
    padding-left: 0px;
    float: right;
    color: aliceblue;
    font-size: 12pt;
}
.header-ngang1 img:hover
{
    visibility: visible;
}
.header-ngang2
{
    width: 60%;
    height: 100%;
    
    padding-top: 3%;
    padding-right: 15px;
    
    color: aliceblue;
    font-size: 12pt;
    
}
.header-ngang1 a
{
    text-decoration: none;
    color: aliceblue;
    font-family: noidung; 
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family: tieude1;
  font-size: 30pt;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:rgba(251,251,251,1.00);
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:0;
}
input
{
    
    height: 50px;
    border: solid 1px rgba(255,255,255,1.00);
    border-radius: 10px;
    background: rgba(61,61,61,0.6);
    outline: none;
    padding-left: 10px;
}